@import './mobile.scss';
@import './desktop.scss';

.q-layout{
	padding: 0 24px;
}
.curreny-badge{
	padding:8px 13px;
}

.main-title{
	margin-top: -30px;

	&__currency{

	}
}

.text-muted{
	color: #AAAAAA;
}
.text-muted-2{
	color: #FFFFFF4C;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
}