.q-layout{
	padding: 0 24px;
}
.curreny-badge{
	padding:8px 13px;
}

.main-title{
	margin-top: -30px;

	&__currency{

	}
}

.text-muted{
	color: #AAAAAA;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.q-tab{
	padding: 0;
	margin-right: 24px;
}
.frozen .my-card{
	opacity: 0.3;
}

.my-card{
	height: 300px;
	width: 100%;
	&.disabled{
		opacity: 0.5;
	}
	.q-card {

		border-radius: 15px;
	}
	&-btn{
		&__show-number {
			margin-bottom: -10px;
			padding-top: 0;
			border-radius: 10px 10px 0 0;
		}
	}
	&__facility-logo{
		margin-top: 17px;
	}
	&__mask-icon{
		font-size: 12px !important;
		line-height: 21.8px;
		margin:0 1px 5px 1px;
	}
	&__card-number{
		letter-spacing: 4px;
	}

	&-footer{
		padding: 9px 30px;
		&__text-sm{
			font-size: 9pt;
			margin: 0;
		}
	}
}

.transaction-card{
	width: unset;
	margin-left: -24px;
	margin-right: -24px;
	border-radius: 20px 20px 0 0;

	&__main-area{
		padding: 24px;
	}

	&__transaction{
		margin: 10px;
		&:not(:last-child){
			border-bottom: 1pt solid #F5F5F5;
		}

		&--header {
			border-radius: 8px;
			border: 1pt solid #F0F0F0;
			box-shadow: 0 0 8pt #0000000A;
		}

		&--avatar{
			height: 16px !important;
			width: 16px !important;
			border-radius: unset !important;
		}

		&--finance-badge{
			border-radius: 20px;
			padding: 7px 9px !important;
		}
	}

}