body.desktop {
  .d-mobile-only {
    display: none !important;
  }
  .transaction-card {
    width: unset;
    margin-left: unset !important;
    margin-right: unset !important;
    border-radius: 20px;
  }
  .desktop{
	&__card{
		padding: 24px;
		margin-top: 20px;
		box-shadow: 0 2pt 12pt #00000014;
	}
	&__p-xl{
		padding: 32px;
	}
	&__credit-card{
		min-height: 260px;
		line-height: 2rem;
	}
  }
}
