body.mobile{
	.d-desktop-only{
		display: none !important;
	}
	.mobile{
		&__bg-dark{
			background-color: $dark;
		}
		&__no-box-shadow{
			box-shadow: none;;
		}
		&__text-white{
			color: #fff;
		}
		&__mt-xl{
			margin-top: 24px;
		}
	}
}